@page
@model DevSkillsTracker.Web.Pages_LearningLogs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LearningLog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LearningLog.Skill)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LearningLog.Skill.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LearningLog.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LearningLog.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LearningLog.HoursSpent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LearningLog.HoursSpent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LearningLog.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LearningLog.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LearningLog.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LearningLog.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.LearningLog.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
